## Two Hacks

#### Creating dummy Dataframes easily

In [8]:
import qgrid
import pandas as pd

df = pd.DataFrame(index=range(0,8), columns=['A', 'B'])
qgrid_widget = qgrid.show_grid(df, show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [36]:
# enter values into dummy df and get updated df
df = qgrid_widget.get_changed_df()

In [37]:
df

   A       B
0  a  parent
1  a   child
2  a   child
3  a  parent
4  b  parent
5  b   child
6  b   child
7  b   child
8  c   child

#### Filter only those groups from column A such that they satisfy certain conditons in column B  
In this case, I only only want to pick a single parent families with at least one child

In [39]:
def select_group_if(x):
    value_counts_in_group = x['B'].value_counts()
    if all(y in value_counts_in_group.index for y in ['parent', 'child']):
        return ((value_counts_in_group['parent'] == 1) & (value_counts_in_group['child'] > 1))
    else:
        return False
    
filtered_df = df.groupby('A').filter(select_group_if)
filtered_df

   A       B
4  b  parent
5  b   child
6  b   child
7  b   child

## Create a new column with the count of elements in that group  
df['count'] = (df.groupby([ **column_to_group_by ]**)).transform( **what_type_of_func_to_perform** )[ **column_to_perform_func_on** ]

In [41]:
df['Count'] = (df.groupby(['A'])).transform('count')['B']

In [42]:
df

   A       B  Count
0  a  parent      4
1  a   child      4
2  a   child      4
3  a  parent      4
4  b  parent      4
5  b   child      4
6  b   child      4
7  b   child      4
8  c   child      1